<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="/css/admin-overview.css">
</head>
<body>
    <%- include('layout/sidebar') %>

    <div class="content">
        <header>
            <h1>Logout Successful</h1>
        </header>
        <section>
            <p>You have successfully logged out.</p>
            <a href="/">Return to Homepage</a>
        </section>
    </div>
</body>
<script>
    function confirmLogout() {
        return confirm("Are you sure you want to logout?");
    }
    </script>
</html>
