<div class="sidebar">
  <h2>Admin Dashboard</h2>
  <ul>
      <li><a href="overview">Dashboard Overview</a></li>
      <li><a href="userOverview">User Overview</a></li>
      <li><a href="add-product">Add New Product</a></li>
      <li><a href="product-list">List of Full Products</a></li>
      <li><a href="order-management">Order Management</a></li>
      <li><a href="admin-coupons">Coupon Management</a></li>
      <li><a href="stock">Stock</a></li>
      <li><a href="#" onclick=" confirmLogout();">Logout</a></li>
  </ul>
</div>